<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="403" />
            <error statusCode="403" path="/index.php" responseMode="ExecuteURL" />
            <remove statusCode="404" />
            <error statusCode="404" path="/index.php" responseMode="ExecuteURL" />
            <remove statusCode="500" />
            <error statusCode="500" path="/index.php" responseMode="ExecuteURL" />
            <remove statusCode="503" />
            <error statusCode="503" path="/index.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>